<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8"/>
  <title>Home Profesor</title>
  <style> body{font-family:Calibri,Arial,sans-serif;margin:2rem;} a.btn{padding:0.5rem 0.8rem;background:#111;color:#fff;border-radius:8px;text-decoration:none;} </style>
</head>
<body>
  <h2>Bienvenido (Profesor)</h2>
  <p>Desde aquí podrás revisar, actualizar y eliminar prácticas.</p>
  <p>
    <a class="btn" th:href="@{/logout}">Salir</a>
  </p>
  <!-- En Parte 5: listados/edición/borrado -->
</body>
</html>
